{% extends "base.html" %}

{% block masthead %} 
<header class="masthead bg-primary text-white text-center">
            
    <div class="container d-flex align-items-center flex-column" >
        
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Foodly</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-utensils fa-2x"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        
        
        <form action="{{ url_for('search_api') }}" method="POST" enctype="multipart/form-data">
            <div class="input-group input-group-lg masthead-subheading font-weight-light mb-0" style="margin-top: 5%;">
                <input type="text" name="searchstring" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Search for your favorite recipes" size="50">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
    </div>
</header>
{% endblock %}


{% block content %} 
<div class="container">
    <!-- All Recipes Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">My Recipes</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-hamburger"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Recipe Grid Items-->
    <div class="row justify-content-center">
        
        {% for d in result %}
        <!-- Recipe Item 1-->
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <a href="{{  url_for('view_recipe', recipieid=d.id)  }}"> <div class="portfolio-item-caption-content text-center text-white">{{d.recipeName}}</div></a>
                </div>
                <img class="img-fluid" src="{{d.imageUrl}}" >
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}